/* main css*/

.thumbnail{
	min-height: 510px;
}

.caption h3,
.caption p
{
	text-align: center;
}

.caption button{
	margin-top: 10px;
}

main{
	padding: 50px 0 40px;
}

footer{
	background: #286090;
	padding: 30px 0;
	margin-top: 25px;
	color: #fff;
}

.footer-info li{
	display: inline-block;
	margin-left: 15px;
	list-style-type: none;
}

.footer-info a{
	color: #fff;
}

.footer-info a: hover{
	text-decoration: underline;
}

.logo img{
	max-width: 150px;
}

header{
	background: #286090;
	padding: 20px 0;
}

.navbar {
    margin-bottom: 0;
}

.list-menu{
	padding-top: 12px;
}

.list-menu li{
	display: inline-block;
	margin-left: 25px;
	list-style-type: none;
}

.list-menu a{
	color: #fff;
	font-size: 16px;
}